$background-color: #FFA93C;
$primary-background: #FFFFFF;
$hover-background: #EDEDED;

$button-primary-color: #A5D766;
$button-hover: #9DC669;

$primary-font: #101010;
$optional-font: #ADADAD;
$contrast-font: #ffffff;
$contrast-font_inactive: #D37D10;

$souces: #F87E76;
$desserts: #FFA2AD;
$salads: #AFF28F;
$soups: #9EE970;
$main-dishes: #FDF2D6;
$appetizers: #FFDA7C;
$fittings: #BE90DA;
$drinks: #DFB0FB;

* {
    font-family: 'Quicksand', sans-serif;
}