$background-color: #FFA93C;
$primary-background: #FFFFFF;
$hover-background: #EDEDED;

$button-primary-color: #a5cd23;
$button-hover: #a2c41b;
$button-hover-shadow: #86a817;

$primary-font: #101010;
$optional-font: #ADADAD;
$contrast-font: #ffffff;
$contrast-font_inactive: #D37D10;

$not-found: #71acc3;


* {
    font-family: 'Quicksand', sans-serif;
}