@import 'scss-reset/reset';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.shadow {
  filter: drop-shadow(1px 3px 4px rgba(140, 140, 140, 0.306));
}